Repository keystonejs/keystone, pull requests merged in 2019-05, with the labels that each got.

#1090 Fix bug in createMany mutation resolver
  .changeset/03c2ad30/changes.json
  .changeset/03c2ad30/changes.md
  packages/keystone/lib/List/index.js
  packages/keystone/tests/List.test.js
Labels: bug, core, high priority

#1118 [docs] Add discussions on Schemas and Relationships
  .changeset/16e9a58f/changes.json
  .changeset/16e9a58f/changes.md
  docs/api/create-list.md
  docs/discussions/README.md
  docs/discussions/schema.md
  docs/guides/add-lists.md
  docs/quick-start/README.md
Labels: docs

#1131 Fix dist directories not being cleared before builds causing broken builds with build-field-types
  .changeset/d781dde1/changes.json
  .changeset/d781dde1/changes.md
  packages/build-field-types/src/build/index.js
  packages/build-field-types/src/build/watch.js
Labels: bug

#1146 Admin UI Tweaks
  .changeset/02f0f779/changes.json
  .changeset/02f0f779/changes.md
  packages/admin-ui/client/components/ListTable.js
  packages/admin-ui/client/components/Nav/index.js
  packages/admin-ui/client/pages/List/Filters/PopoutForm.js
  packages/admin-ui/client/pages/List/Management.js
  packages/admin-ui/client/pages/List/index.js
  packages/arch/packages/common/src/index.js
  packages/arch/packages/navbar/src/PrimaryNav.js
  packages/arch/packages/navbar/src/common.js
  packages/arch/packages/select/src/index.js
  packages/arch/packages/typography/src/index.js
  packages/fields/src/types/Relationship/views/RelationshipSelect.js
Labels: admin-ui

#1216 Fix relative URLs between apps & custom server docs pages
  docs/discussions/apps.md
  docs/discussions/custom-server.md
Labels: docs

#1252 Correct blocks docs for Content Editor
  docs/api/README.md
  docs/api/blocks.md
Labels: docs

#1261 s/query/mutation for mutating queries
  packages/fields/src/types/Relationship/README.md
Labels: docs, fields + lists

#1212 restore process.env.MONGODB_URI for test-project
  .changeset/cb278d0e/changes.json
  .changeset/cb278d0e/changes.md
  test-projects/basic/server.js
Labels: bug

#1259 rm unnecessary parameters for keystone prepare
  .changeset/ecec3123/changes.json
  .changeset/ecec3123/changes.md
  packages/keystone/bin/utils.js
  packages/keystone/lib/Keystone/index.js
  test-projects/access-control/server.js
  test-projects/basic/server.js
  test-projects/social-login/server.js
Labels: refactor / code-health
